/* helper/utility */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0000);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
	margin: -1px;
	padding: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	overflow: visible;
	position: static;
	width: auto;
	margin: 0;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.ng-cloak {
	display: none !important;
}


/* styles */

.browsehappy {
	color: #000;
	margin: .2em 0;
	padding: .2em 0;
	background: #ccc;
}

.ng-valid {
	border-color: #3c763d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.ng-dirty.ng-invalid {
	border-color: #a94442;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

.navbar-toggle {
	color: #ccc;
	margin-left: .5rem;
	margin-right: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.growl-container.top-left,
.growl-container.top-center,
.growl-container.top-right {
	top: 71px;
}

.growl-container.growl-fixed {
    width: 50%;
    max-width: 300px;
}

.growl-container > .growl-item.ng-enter {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}

.growl-container > .growl-item.ng-leave {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut;
}

.btn-facebook {
	background-image: linear-gradient(#4c69ba 0%, #3b55a0 100%);
	border: 1px solid #4c69ba;
}
.btn-facebook:hover,
.btn-facebook:focus {
	background-image: linear-gradient(#3b55a0 0%, #3b55a0 100%);
	background-position: 0% 0%;
	border: 1px solid #4c69ba;
}

.btn-google-plus {
	background-image: linear-gradient(#dd4b39 0%, #cc3a28 100%);
	border: 1px solid #dd4b39;
}
.btn-google-plus:hover,
.btn-google-plus:focus {
	background-image: linear-gradient(#cc3a28 0%, #cc3a28 100%);
	background-position: 0% 0%;
	border: 1px solid #dd4b39;
}

.view-animate-container {
	position: relative;
	height: 500px !important;
	position: relative;
	background: white;
	overflow-x: hidden;
}

.view-animate {
}

.view-animate.ng-enter,
.view-animate.ng-leave {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 400ms;
}

.view-animate.ng-enter {
	left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
	left: 0;
}

.view-animate.ng-leave.ng-leave-active {
	left: -100%;
}

html,
body {
	height: 100%;
	color: #222;
	font-family: 'Noto Sans', 'Helvetica Neue', 'Liberation Sans', Arimo, Calibri, Helvetica, 'Trebuchet MS', Arial, sans-serif;
	overflow-x: hidden;
}

kbd,
samp,
code,
pre {
	font-family: 'Source Code Pro', 'Ubuntu Mono', 'Liberation Mono', Cousine, Menlo, Consolas, Monaco, Courier, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Roboto, 'Open Sans', 'Helvetica Neue', 'Liberation Sans', Arimo, Calibri, Helvetica, 'Trebuchet MS', Arial, sans-serif;
}

audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1rem 0;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

#not-footer {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -3rem;
	padding: 0 0 3rem;
}

#footer {
	height: 2rem;
}

#footer .container-fluid {
	height: 3rem;
	line-height: 3rem;
	vertical-align: middle;
}

#sidenav {
	position: absolute;
	width: 15rem;
	background-color: #666;
	height: 100%;
	z-index: 0;
}

#sidenav .list-group {
	margin-top: 1rem;
	box-shadow: none;
}

#sidenav .list-group-item {
	background-color: #666;
	border: 0;
	color: #ccc;
}

#sidenav ~ #page {
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: 200ms;
	transition: 200ms;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	height: 100%;
	background-color: #fff;
}

#sidenav.active ~ #page {
	-webkit-transform: translateX(15rem);
	transform: translateX(15rem);
}

#page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.dim-page {
	background-color: rgba(0, 0, 0, .8);
}

.loader-image {
	background-image: url(/img/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
}

::-moz-selection,
::selection {
	text-shadow: none;
	background: #b3d4fc;
}


@media print {

	* {
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: ' (' attr(href) ')';
	}

	abbr[title]:after {
		content: ' (' attr(title) ')';
	}

	a[href^=javascript:]:after,
	a[href^=#]:after {
		content: '';
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

}
